.carousel {
  width: 100%;
  display: block;
  margin-top: 20px;
}

.carousel img {
  width: 100%;
  height: 580px;
  object-fit: cover;
  border-radius: 10px;
}
.slide img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
}
