<footer class="footer pt-4 pb-4">

  <div class="container text-center text-md-start">

    <div class="row">

      <!-- Brand -->
      <div class="col-md-3 mb-3">
        <h4 class="brand">ShopWeb</h4>
        <p class="small text-muted">
          Dé plek voor de beste schoenen en kleding. 
        </p>
      </div>

      <!-- Links -->
      <div class="col-md-3 mb-3">
        <h6 class="fw-bold mb-3">Navigatie</h6>
        <ul class="list-unstyled small">
          <li><a routerLink="/" class="link">Home</a></li>
          <li><a routerLink="/products" class="link">Producten</a></li>
          <li><a routerLink="/auth/signin" class="link">Inloggen</a></li>
          <li><a routerLink="/auth/signup" class="link">Registreren</a></li>
        </ul>
      </div>

      <!-- Contact -->
      <div class="col-md-3 mb-3">
        <h6 class="fw-bold mb-3">Contact</h6>
        <ul class="list-unstyled small list">
          <li class="list-group-item">Email: saeid.a.hal</li> 
          <li class="list-group-item">Telefoon: +32 465548075</li>
          <li class="list-group-item">Adres: Gent, Belgie</li>
        </ul>
      </div>
<div class="col-md-3 mb-3">
        <h6 class="fw-bold mb-3">Terms & Policies</h6>
        <ul class="list-unstyled small list">
          <li class="list-group-item">Policies</li> 
          <li class="list-group-item">Terms of Use</li>
          <li class="list-group-item">Privacy</li>
        </ul>
         <hr>
          <div class="social-icons mt-3">
          <a href="#" class="social facebook"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social instagram"><i class="fab fa-instagram"></i></a>
          <a href="#" class="social linkedin"><i class="fab fa-linkedin-in"></i></a>
          <a href="#" class="social twitter"><i class="fab fa-x-twitter"></i></a>
        </div>
      </div>
    </div>

    <hr>

    <div class="text-center small mt-3">
      © ShopWeb — Alle rechten voorbehouden.
    </div>

  </div>

</footer>
