<div class="auth-card">

  <h3 class="title">Nieuw account aanmaken</h3>

  <!-- Error -->
  <div *ngIf="errorMessage" class="alert alert-danger py-2">
    {{ errorMessage }}
  </div>

  <!-- Success -->
  <div *ngIf="successMessage" class="alert alert-success py-2">
    {{ successMessage }}
  </div>

  <form (ngSubmit)="onSubmit()" #signupForm="ngForm" novalidate>

    <div class="mb-3">
      <label class="form-label">Volledige naam</label>
      <input class="form-control" type="text" name="fullName"
             [(ngModel)]="fullName" required />
    </div>

    <div class="mb-3">
      <label class="form-label">Email</label>
      <input class="form-control" type="email" name="email"
             [(ngModel)]="email" required />
    </div>

    <div class="mb-3">
      <label class="form-label">Password</label>
      <input class="form-control" type="password" name="password"
             [(ngModel)]="password" required />
    </div>

    <button type="submit" class="btn btn-dark w-100"
            [disabled]="loading || !signupForm.valid">

      <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"></span>
      Registreren
    </button>

  </form>

  <div class="text-center small mt-3">
    Heb je al een account?
    <a routerLink="/auth/signin" class="link">Inloggen</a>
  </div>

</div>
