.page-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btn-add {
  padding: 8px 15px;
  background: #0d6efd;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.search-input {
  padding: 8px 12px;
  width: 250px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table th {
  text-align: left;
  padding: 12px;
  background: #f3f4f6;
}

.product-table td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.img-sm {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.status {
  padding: 4px 10px;
  border-radius: 12px;
  color: white;
}

.status.active {
  background: #16a34a;
}

.status.inactive {
  background: #dc2626;
}

.btn-edit {
  padding: 5px 10px;
  background: #10b981;
  border: none;
  color: white;
  margin-right: 8px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-delete {
  padding: 5px 10px;
  background: #dc2626;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
.modal.show {
  background: rgba(0,0,0,0.5);
}

.modal-dialog {
  margin-top: 120px;
}

.modal-content {
  border-radius: 10px;
}
