.shopWeb--search--product{
    margin: 20px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.shopWeb--search--product--input {
  padding: 14px 10px;
  border: 1px solid black !important;
  border-right: none !important;
  outline: none;
  width: 40%;
  vertical-align: middle;
  border-radius: 2px 0px 0px 2px;
  background-color: #efefef;
  border: #28282B 1px solid;
  flex: 2 2 1 auto;
}


.btn{
    padding: 5px 10px;
    border: none;    
}
.btn-search {
    padding: 12px 30px 11px;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid black;
    background-color: #28282B;
    color: #fff;
   
    vertical-align: middle;
}


.shopWeb--search--result--for{
    margin: 20px auto;
    padding: 10px 140px;
}
.btn-search-disabled {
    padding: 12px 30px;
    background-color: #aaa;
    margin-left: -1px;
    color: #999;
    border: 1px solid #aaa;
    cursor: not-allowed;
}
