<div class="row">
    <div class="col-sm-9">
      <h2 class="page-title">Customers</h2>
    </div>
    <div class="col-sm-3 right" >
     <input type="text"  placeholder="Search..." class="search-input" [(ngModel)]="searchText"/>
    </div>
</div>

<div *ngIf="loading">Loading...</div>

<div *ngIf="!loading">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Date Registered</th>
      </tr>
    </thead>

    <tbody>
     <tr *ngFor="let c of paginatedCustomers; let i = index">


        <td>{{ i + 1 }}</td>
        <td >
            <a  [routerLink]="['/admin/customers', c.id]" class="customer-link" >
                {{ c.fullName }}
                
            </a>
        </td>


        <td>{{ c.email }}</td>
        <td>{{ c.phone || '-' }}</td>
        <td>{{ c.createdAt | date:'medium' }}</td>
      </tr>
    </tbody>
  </table>
  <app-pagination
  [totalItems]="filteredCustomers.length"
  [pageSize]="pageSize"
  [(currentPage)]="page">
</app-pagination>

</div>
