

<div class="success-container">
    <div class="card">
        <div class="icon">
            ✔
        </div>
         <p>
            You will be redirected to the home page in 
            <b>{{ countdown }}</b> seconds...
        </p>

        <h2>Order Successfully Placed </h2>

        <p class="msg">
            Your order has been placed successfully.<br>
            Please visit <b>My Orders</b> in your profile for tracking.
        </p>

        <button routerLink="/" class="back-btn">
            Back to Home
        </button>
    </div>
</div>
