<div class="sidebar">
  <h2 class="sidebar-title">ShopWeb Admin</h2>

  <ul class="sidebar-menu">

    <li routerLink="/admin/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Dashboard <span class="arrow"></span>
    </li>

    <li routerLink="/admin/products" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Products <span class="arrow"></span>
    </li>

    <li routerLink="/admin/categories" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Categories <span class="arrow"></span>
    </li>

    <li routerLink="/admin/orders" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Orders <span class="arrow"></span>
    </li>

    <li routerLink="/admin/customers" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
      Customers <span class="arrow"></span>
    </li>

    <li routerLink="/admin/coupons" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Coupons <span class="arrow"></span>
    </li>

    <li routerLink="/admin/settings" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Settings <span class="arrow"></span>
    </li>

</ul>


</div>
